* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.main-body {
  /* background: linear-gradient(to right, #3f4c6b, #606c88); */
  background: black;
  height: 90vh;
  padding: 20px;
}

.todo-list-mainDiv {
  width: 100%;
  max-width: 400px;
  /* background: linear-gradient(to right, #B0DAB9, #DAD299); */
  background: black;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #ffffffc6;
  box-shadow: 2px 4px 10px #ffffff80;
  margin: 0 auto;
}

.todo-list-mainDiv h3 {
  text-align: center;
  color: antiquewhite;
  text-shadow: 2px 2px 5px #1bd562;
}

.todo-task-input-div {
  gap: 10px;
  padding: 10px 0;
}

#add-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
  font-size: 25px;
}


.tasks-list, .tasks-list-2 {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.cgreen, .cgreen-2 {
  color: #21d51b;
}

.cred, .cred-2 {
  color: #d51b1b;
}

/* its a class name in taskitem.jsx in span */
.completed-task {
  color: #ffffff;              
  text-decoration: line-through;
  text-decoration-color: #ffffff; 
}

.mobile_response {
  display: none;
}

@media screen and (max-width:400px) {
  .todo-list-mainDiv{
    height: 90vh;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .input-group, #add-button {
    margin-top: 0.5rem;
    margin-bottom: -6%;
  }

  h3{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .tasks-list, .cred, .cgreen{
    display: none;
  }

  .mobile_response {
    display: block;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #ffffff8a;
    box-shadow: 2px 2px 5px #ffffff92;
  }

  html, body {
    overflow-x: hidden;
  }


}