.main-body {
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}

.todo-list-mainDiv {
  width: 380px;
  height: 80%;
  background: #DAD299;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  border-radius: 8px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 2px 4px 8px #000000;
}

.todo-list-mainDiv h3 {
  text-align: center;
}

.todo-task-input-div {
  /* border: 2px red solid; */
  column-gap: 10px;
  padding: 10px;
}

#add-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tasks-list {
  width: 95%;
  /* border: 2px solid red; */
  margin: auto;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.tasks-list li {
  margin: 0px;
}

/* .task
{
  border: 2px black solid;
  height: 35px;
  text-align: center;
} */

.task-buttons {
  display: flex;
  column-gap: 10px;
}

@media (max-width: 480px) {
  .main-body {
    width: 100%;
    height: 90%;
  }

  .todo-list-mainDiv {
    width: 85vw;
    height: 60rem;
  }

  .todo-task-input-div {
    /* flex-direction: column; */
    gap: 8px;
  }

  .form-control {
    height: 35px;
    font-size: 14px;
  }

  #add-button {
    /* width: 100%; */
    height: 40px;
    border-radius: 6px;
  }
}